<div class="container">
  <div [hidden]="submitted">
    <h2>User Registration</h2>
    <form (ngSubmit)="onSubmit()" #registorForm="ngForm">

      <!-- TODO: Remove this when we're done -->
      <!-- {{diagnostic}} -->
      <div class="form-group">
        <label for="title">Title</label>
        <!-- Each input/select element has an id property that is used by the label
            element's for attribute to match the label to its input control. -->
        <select class="form-control" id="title"
            required
            [(ngModel)]="user.title" name="title">
            <!-- Defining a name attribute is a requiremnet when using [(ngModel)]
                in combination with a form. Internally, Angular creats FormControl
                instances and registers them with an NgForm directive that Angular
                attached to the <form> tag. Each FormControl is registered under the
                name you assigned to the name attribute. -->
          <option *ngFor="let title of titles" [value]="title">{{title}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="familyName">Family Name</label>
        <input type="text" class="form-control" id="familyName" 
            required
            [(ngModel)]="user.familyName" name="familyName"
            #familyName="ngModel">
            <!-- #familyName is a template reference variable. -->
        <div *ngIf="familyName.invalid && (familyName.dirty || familyName.touched)"
            class="alert alert-danger">
          Family Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
            required
            [(ngModel)]="user.firstName" name="firstName"
            #firstName="ngModel">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="alert alert-danger">
          First Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="livingCountry">Living Country</label>
        <select class="form-control" id="livingCountry"
            required
            [(ngModel)]="user.livingCountry" name="livingCOuntry">
          <option *ngFor="let country of countries" [value]="country">
            {{country}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="phoneNum">Phone Number</label>
        <input type="text" class="form-control" id="phoneNum"
            required
            appValidEmail="^\+?[0-9]+$"
            [(ngModel)]="user.phoneNum" name="phoneNum"
            #phoneNum="ngModel">
        <div *ngIf="phoneNum.invalid && (phoneNum.dirty || phoneNum.touched)"
              class="alert alert-danger">
          <div *ngIf="! phoneNum.errors.invalidEmail">
            Phone Number is required
          </div>
          <div *ngIf="phoneNum.errors.invalidEmail">
            Phone Number is invalid
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="eMail">Email Address</label>
        <input type="text" class="form-control" id="eMail" 
            required
            appValidEmail="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            [(ngModel)]="user.eMail" name="eMail"
            #eMail="ngModel">
        <div *ngIf="eMail.invalid && (eMail.dirty || eMail.touched)"
              class="alert alert-danger">
          <div *ngIf="! eMail.errors.invalidEmail">
            Email Address is required
          </div>
          <div *ngIf="eMail.errors.invalidEmail">
            Email Address is invalid
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success"
          [disabled]="!registorForm.form.valid">
        Register
      </button>

    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>Registration success!</h2>
  </div>
</div>