<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav>
    <a routerLink="/reactiveform" routerLinkActive="active">Reactive Form</a>
    <a routerLink="/dynamicform" routerLinkActive="active">Dynamic Form</a>
    <a routerLink="/registe" routerLinkActive="active">Sign up(Template-driven Form)</a>
    <a routerLink="/reactiveregiste" routerLinkActive="active">Sign up(Reactive Form)</a>
  </nav>
</div>
<router-outlet></router-outlet>
