<div class="container">
    <div [hidden]="submitted">
      <h2>User Registration</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Title</label>
          <select class="form-control" required formControlName="title">
            <option *ngFor="let title of titles" [value]="title">{{title}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Family Name</label>
          <input class="form-control" required formControlName="familyName">
          <div *ngIf="registerForm.get('familyName').invalid && 
                (registerForm.get('familyName').dirty || registerForm.get('familyName').touched)"
              class="alert alert-danger">
            Family Name is required
          </div>
        </div>

        <div class="form-group">
          <label>First Name</label>
          <input class="form-control" required formControlName="firstName">
          <div *ngIf="registerForm.get('firstName').invalid && 
                (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)"
              class="alert alert-danger">
            First Name is required
          </div>
        </div>

        <div class="form-group">
          <label>Living Country</label>
          <select class="form-control" required formControlName="livingCountry">
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input class="form-control" required formControlName="phoneNum">
          <div *ngIf="registerForm.get('phoneNum').invalid && 
                (registerForm.get('phoneNum').dirty || registerForm.get('phoneNum').touched)"
              class="alert alert-danger">
            <div *ngIf="! registerForm.get('phoneNum').errors.invalidEmail">
              Phone Number is required
            </div>
            <div *ngIf="registerForm.get('phoneNum').errors.invalidEmail">
              Phone Number is invalid
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Email Address</label>
          <input class="form-control" required formControlName="eMail">
          <div *ngIf="registerForm.get('eMail').invalid && 
                (registerForm.get('eMail').dirty || registerForm.get('eMail').touched)"
              class="alert alert-danger">
            <div *ngIf="! registerForm.get('eMail').errors.invalidEmail">
              Email Address is required
            </div>
            <div *ngIf="registerForm.get('eMail').errors.invalidEmail">
              Email Address is invalid
            </div>
          </div>
        </div>

        <button type="submit" required class="btn btn-success"
            [disabled]="registerForm.invalid">
          Register
        </button>

      </form>
      <!--
      <p>Form value: {{ registerForm.value | json }}</p>
      <p>Form status: {{ registerForm.status | json }}</p>
      <p>Name value: {{ registerForm.get('familyName').value }}</p>
      -->
    </div>
    <div [hidden]="!submitted">
      <h2>Registration success!</h2>
    </div>
  </div>